html {
  margin: 0;
  padding: 0;
}

body {
  font-size: 25px;
  width: 25em;
  margin: 0 auto;
  padding: 0.5em 0;

  height: 100vh;

  font-family: verdana;
  background-color: lightgreen;
  text-align: center;
}

button {
  font-size: 24px;
  font-family: verdana;
}

img {
  max-width: 60%;
}
